body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	color: var(--mainColor);
	background-color: var(--backgroundColor);
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

:root {
	--backgroundColor: #2b2b2b;
	--mainColor: #fffffff1;
	--secondaryColor: #ffe600;
}

.yellow {
	color: var(--secondaryColor);
}