html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	padding-bottom: 20rem;
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
	color: var(--mainColor);
	background-color: var(--backgroundColor);
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-family: "Poppins", "Roboto", sans-serif;
}

:root {
	/* --backgroundColor: #2b2b2b;
	--mainColor: #fffffff1;
	--secondaryColor: #ffe600; */
	--backgroundColor: #fffffff1;
	--mainColor: #2b2b2b;
	--secondaryColor: #fcd059;
}

.yellow {
	color: var(--secondaryColor);
}