html {
	position: relative;
	min-height: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	padding-bottom: 20rem;
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
	color: var(--mainColor);
	background-color: var(--backgroundColor);
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-family: "Poppins", "Roboto", sans-serif;
}

:root {
	--backgroundColor: #fffffff1;
	--mainColor: #2b2b2b;
	--secondaryColor: #fcd059;
}

.yellow {
	color: var(--secondaryColor);
}

input[type=password]::-ms-reveal, input[type=password]::-ms-clear
{
    display: none;
}

& .InvalidInput>label.Mui-focused {
	color: red;
}
& .InvalidInput>.MuiOutlinedInput-root {
	&.Mui-focused fieldset {
	border-color: red;
	}
}

.header_icons {
	color: var(--mainColor);
	cursor: pointer;
	border-radius: .2em;
	transition: all 50ms cubic-bezier(0.4, 0, 0.2, 1) 50ms
}
.header_icons:hover {
	background-color: var(--mainColor);
	color: var(--secondaryColor);
	opacity: 0.9
}